#grid-detail {
  display: grid;
  grid-template-areas:
    "header header"
    "nav nav"
    "main aside"
    "main aside"
    "main aside"
    "footer footer";
  grid-template-columns: 80% 20%;
}

#grid-buchung {
  display: grid;
  grid-template-areas:
    "header header"
    "nav nav"
    "main aside"
    "main aside"
    "main aside"
    "footer footer";
  grid-template-columns: 80% 20%;
}

header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}
aside {
  grid-area: aside;
}
