body {
  font-family: Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(36, 36, 36);
}



nav li {
  display: inline;
  list-style-type: none;
  margin-right: 10px;
}

nav ul {
  padding-left: 5px;
}

header h1 {
  display: inline-block;
}

article img {
  float: right;
  max-width: 60%;
  height: auto;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: lightgray;
  padding-bottom: 5px;
}

footer hr {
  margin-top: 0px;
}

input:valid,
select:valid {
  background: hsla(100, 90%, 70%, 1);
  box-shadow: 0 0 5px green;
}

input:invalid,
select:invalid {
  background: hsla(0, 100%, 50%, 0.75);
}

:required {
  box-shadow: 0 0 5px red;
}

input[type="submit"],
input[type="reset"] {
  background: lightgray;
  box-shadow: none;
}

label.req::after {
  content: "*";
  color: red;
}

fieldset {
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 0 5px #999;
}

legend {
  font-size: 85%;
  font-style: italic;
  border: black solid 1px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px blue;
}

aside {
  background-color: lightgray;
  margin: 3px;
  padding: 3px;
  border: 2px dashed black;
}

nav a:hover {
  background-color: rgb(126, 240, 126);
  color: rgb(46, 46, 46);
}

#belegung table {
  border-collapse: collapse;
}

#belegung tr {
  border: 2px solid black;
}

#belegung th {
  background-color: rgb(15, 30, 58);
  border: 1px solid black;
  color: white;
}

#belegung td {
  border: 1px solid black;
}

#belegung tr:nth-of-type(even) td {
  background-color: rgb(165, 181, 214);
}

a[href^="mailto"]::before {
  content: url("./email.png");
  margin-right: 5px;
}

header {
  text-shadow: 5px 5px 5px rgb(160, 216, 138);
  letter-spacing: 5px;
}

#buchungmain article {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  padding-left: 5px;
  margin-right: 15px;
}
