<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Error 404</title>
  <link rel="stylesheet" type="text/css" href="./css/style.css" />
  <link rel="stylesheet" type="text/css" href="./css/flexbox.css" />
</head>

<body>
  <header>
    <%- include("./includes/headimg.ejs")%>
      <h1>Error 404</h1>
  </header>
  <%- include("./includes/nav.ejs")%>
    <div class="flex">
      <main>
        <div class="tblock" style="min-height:400px;">
          <img src="./img/7866.png_1200.png" alt="404 img">
          <h2>
            Error 404
          </h2>
          <p>Die von Ihnen geforderte Seite wurde leider nicht gefunden!</p>
        </div>
      </main>
      <%- include("./includes/aside.ejs")%>
    </div>
    <%- include("./includes/footer.ejs")%>
</body>

</html>