<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Buchungsdetails</title>
  <link rel="stylesheet" type="text/css" href="./css/style.css" />
  <link rel="stylesheet" type="text/css" href="./css/flexbox.css" />
</head>

<body>
  <header>
    <%- include("./includes/headimg.ejs")%>
      <h1>Buchungsdetails</h1>
  </header>
  <%- include("./includes/nav.ejs")%>
    <div class="flex">
      <main>
        <article class="tblock">
          <h3>Bezeichnung: <strong>Computerraum</strong></h3>
          <p>Datum: 01.04.2021</p>
          <p>Zeitraum: 10:15 - 14:30</p>
          <p>
            Gebucht von: <a class="email" href="mailto:frank@fh-dortmund.de">Frank Meier</a>
          </p>
          <p>Anzahl Teilnehmer: 25</p>
        </article>
        <article class="tblock">
          <h3>Beschreibung:</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est cum quos
            dignissimos. Beatae doloremque magni, et architecto asperiores eum
            sequi ab commodi, pariatur quaerat impedit. Porro rerum quasi laborum.
            Distinctio.
          </p>
        </article>
      </main>
      <%- include("./includes/aside.ejs")%>
    </div>
    <%- include("./includes/footer.ejs")%>
</body>

</html>