<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="./css/dashboard.css" />
</head>

<body>
    <header>
        <a href="/"><img src="./img/logo.png" alt="Logo der Gruppe" width="250" /></a>
        <h1 class="text-drop">Online-Raumbuchung</h1>
    </header>
    <main>
        <a href="/raumliste" class="button">Raumliste</a>
        <a href="/raumdetail" class="button">Raumdetails</a>
        <a href="/buchungsdetails" class="button">Buchungsdetails</a>
        <a href="/neuebuchung" class="button">Neue Buchung anlegen</a>
    </main>
    <%- include("./includes/footer.ejs")%>
</body>
<script src="./js/dashboard.js"></script>

</html>