<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Raumliste</title>
  <link rel="stylesheet" type="text/css" href="./css/style.css" />
  <link rel="stylesheet" type="text/css" href="./css/flexbox.css" />
  <script src="./js/myScript.js"></script>
</head>

<body>
  <header>
    <%- include("./includes/headimg.ejs")%>
      <h1>Raumliste</h1>
  </header>
  <%- include("./includes/nav.ejs")%>
    <br>
    <div class="flex">
      <main>
        <form method="GET" action="https://labs.inf.fh-dortmund.de/roomReservationService/testRoomSearch.php">
          <fieldset>
            <legend>Raumsuche</legend>
            <p>
              <label for="raum" class="req">Raumnummer eingeben:</label>
              <input id="raum" type="text" title="Raum genau wie im Beispiel angeben, z.B. A.E.01" name="roomno"
                required size="6" maxlength="6" placeholder="A.E.01" pattern="[A-Z]\.[E|1-3]{1}\.[0-9]{2}" />
            </p>
            <p><input type="submit" /></p>
          </fieldset>
        </form>
        <div class="tblock">
          <h3>Räume:</h3>
          <div id="rooms">
            <% for (room of rooms) {%>
              <li>
                <a href="/raumdetail">
                  <%= room.num%>
                </a>
                <%= room.bez%>
              </li>
              <% } %>
          </div>
        </div>
      </main>
      <%- include("./includes/aside.ejs")%>
        <%- include("./includes/footer.ejs")%>
    </div>
</body>

</html>