<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Raumdetails: A.E.01</title>
  <link rel="stylesheet" type="text/css" href="./css/style.css" />
  <link rel="stylesheet" type="text/css" href="./css/grid.css" />
</head>

<body>
  <div id="grid-detail">
    <header>
      <%- include("./includes/headimg.ejs")%>
        <h1>Raumdetails</h1>
    </header>
    <%- include("./includes/nav.ejs")%>
      </nav>
      <main>
        <div class="tblock">
          <img src="./img/hoersaal.jpg" alt="Bild vom Hörsaal" width="500" />
          <article id="details">
            <h3>Raumdetails</h3>
            <ul>
              <li class="liDetail"><strong>Raumnummer:</strong></li>
              <li class="liDetail">Bezeichnung:</li>
              <li class="liDetail">Gebäude:</li>
              <li class="liDetail">Kapazität:</li>
              <li class="liDetail">Ausstattungsmerkmale:</li>
            </ul>
          </article>
          <article id="belegung">
            <h3>Stundenplan:</h3>
            <table>
              <thead>
                <tr>
                  <th>Datum</th>
                  <th>Startuhrzeit</th>
                  <th>Enduhrzeit</th>
                  <th>Bezeichnung</th>
                </tr>
              </thead>
              <tbody>
                <!--  Hier kommt das JS -->
              </tbody>
            </table>
          </article>
        </div>
      </main>
      <%- include("./includes/aside.ejs")%>
        <%- include("./includes/footer.ejs")%>
  </div>
</body>
<script src="./js/buchung.js"></script>

</html>