<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seminar anlegen</title>
  <link rel="stylesheet" type="text/css" href="./css/style.css" />
  <link rel="stylesheet" type="text/css" href="./css/grid.css" />
</head>

<body>
  <div id="grid-buchung">
    <header>
      <%- include("./includes/headimg.ejs")%>
        <h1>Buchung anlegen</h1>
    </header>
    <%- include("./includes/nav.ejs")%>
      <main>
        <br />
        <form method="POST" action="https://labs.inf.fh-dortmund.de/roomReservationService/testCreateReservation.php">
          <fieldset>
            <legend>Raum</legend>
            <p>
              <label for="raum" class="req">Raumnummer eingeben:</label>
              <input id="raum" type="text" autofocus title="Raum genau wie im Beispiel angeben, z.B. A.E.01"
                name="roomno" required size="6" maxlength="6" placeholder="A.E.01"
                pattern="[A-Z]\.[E|1-3]{1}\.[0-9]{2}" />
            </p>
            <p>
              <label for="bez" class="req" title="Kurze Beschreibung">Bezeichnung der Buchung:</label>
              <input id="bez" type="text" name="restitle" required maxlength="20" placeholder="z.B. Übung WebTech" />
            </p>
            <p>
              <label for="beschreib" title="Lange Beschreibung">Beschreibung der Buchung:</label>
              <input type="text" name="resdescription" maxlength="500" id="beschreib" />
            </p>
            <p>
              <label for="count">Teilnehmerzahl:</label>
              <input type="number" name="resparticipants" id="count" />
            </p>
            <p>
              <label for="pers">Buchende Person:</label>
              <select name="resperson" id="pers">
                <option value="Frank">Dr. Frank</option>
                <option value="Ralf">Dr. Ralf</option>
                <option value="Stark">Dr. Stark</option>
              </select>
            </p>
          </fieldset>
          <fieldset>
            <legend>Zeitraum</legend>
            <p>
              <label for="dat" class="req">Datum:</label>
              <input type="date" name="resdate" required id="dat" />
            </p>
            <p>
              <label for="start" class="req">Startzeit:</label>
              <input id="start" type="time" name="resstart" required min="08:00" max="21:00" />
            </p>
            <p>
              <label for="end" class="req">Endzeit:</label>
              <input type="time" name="resend" required min="08:00" max="22:00" id="end" />
            </p>
          </fieldset>
          <p><input type="submit" /> <input type="reset" /></p>
        </form>
      </main>
      <%- include("./includes/aside.ejs")%>
        <%- include("./includes/footer.ejs")%>
  </div>
</body>

</html>