@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(12, 40, 199, 0.9);
  }
  70% {
    box-shadow: 0 0 0 14px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-image: linear-gradient(
    -45deg,
    lightgray,
    rgb(102, 151, 190),
    white
  );
  background-size: 100% 300%;
  max-width: 1500px;
  margin:auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(36, 36, 36);
}

main,
nav {
  margin-left: 10px;
}

nav {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 10px;
  margin-left:15px;
  margin-right:5px;
}

header {
  text-shadow: 5px 5px 5px rgb(160, 216, 138);
  letter-spacing: 5px;
}

nav li {
  display: inline;
  list-style-type: none;
  margin-right: 10px;
  font-size: 1.2em;
}

nav ul {
  padding-left: 5px;
}

header h1 {
  display: inline-block;
}

#detailList{
  list-style-type: none;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: white;
  padding-bottom: 5px;
}

#footer-text {
  margin-left: 10px;
}

footer hr {
  margin-top: 0px;
}

input:valid,
select:valid {
  background: hsla(100, 90%, 70%, 1);
  box-shadow: 0px 0px 6px green;
}

input:invalid,
select:invalid {
  background: hsla(0, 100%, 50%, 0.75);
}

:required {
  box-shadow: 4px 4px 0px gray;
}

input[type="submit"],
input[type="reset"] {
  width: 150px;
  height: 40px;
  background-color: gray;
  color: white;
  padding: 12px 10px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: none;
}

input:not([type="submit"]):not([type="reset"]):focus {
  animation: pulse 2s infinite;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: white;
  color: black;
}

input[type="text"],
input[type="time"],
input[type="date"],
input[type="number"],
select {
  padding: 6px 10px;
  margin: 4px 0;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

label.req::after {
  content: "*";
  color: red;
}

fieldset {
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 0 5px #999;
  background-color: white;
  border: 1px solid black;
}

fieldset:first-child {
  margin-top: -10px;
}

legend {
  font-size: 85%;
  font-style: italic;
  border: black solid 1px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  box-shadow: 4px 4px 4px gray;
}

aside {
  background-color: white;
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
}

nav a:hover {
  background-color: rgb(126, 240, 126);
  color: rgb(46, 46, 46);
}

#belegung table {
  border-collapse: collapse;
}

#belegung tr {
  border: 2px solid black;
}

#belegung th {
  background-color: rgb(15, 30, 58);
  border: 1px solid black;
  color: white;
}

#belegung td {
  border: 1px solid black;
}

#belegung tr:nth-of-type(even) td {
  background-color: rgb(165, 181, 214);
}

a[href^="mailto"]::before {
  content: url("./email.png");
  margin-right: 5px;
}

/*
fieldset > p {
  margin-left: 10px;
  display: grid;
  grid-template: "label input";
  grid-template-columns: auto minmax(40% 80%);
  justify-content: stretch;
}
*/

fieldset > p {
  margin-left: 10px;
  display: flex;
  justify-content: stretch;
}

p label {
  flex: 1 1 20%;
}

label {
  display: flex;
  align-items: center;
}

label + input {
  flex: 4 1 50%;
}

label + select {
  flex: 4 1 50%;
}

.tblock {
  background-color: white;
  border: 1px solid black;
  margin: 5px;
  padding-left: 15px;
  border-radius: 10px;
}

.tblock table {
  margin-bottom: 10px;
}

.tblock h3 {
  margin-left: -5px;
}

.tblock ul {
  margin-left: -10px;
}

.tblock img {
  float: right;
  max-width: 50%;
  height: auto;
  margin: 10px;
}

.clearfix {
  clear: both;
}

@media screen and (max-width:480px){
 header h1{
   display:none;
 }
}

@media screen and (max-width:768px){
  header h1{
    font-size:1.75em;
  }

 }

