.flex {
  display: flex;
}

main {
  flex: 1 1 80%;
}
aside {
  flex: 1 1 20%;
}



@media screen and (max-width: 768px) {
  nav {
    font-size: 0.85em;
  }

  .flex {
    flex-flow: column;
  }
  main {
    flex: 1 1 100%;
  }
  aside {
    margin-left: 15px;
    flex: 1 1 100%;
    align-items: center;
  }
}
