<aside>
    <h3>Aktuelle Meldungen</h3>
    <p><strong>31.10.2020:</strong> Beamer in Raum xxx ist defekt!</p>
    <p><strong>04.09.2022:</strong> Bitte keinen Permanentmarker verwenden!</p>
  </aside>