<nav>
  <ul>
    <li><a href="/raumliste">Raumliste</a></li>
    <li><a href="/raumdetail">Raumdetails</a></li>
    <li><a href="/buchungsdetails">Buchungsdetails</a></li>
    <li><a href="/neuebuchung">Buchung anlegen</a></li>
  </ul>
</nav>
