@keyframes anim-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes text-drop {
  0% {
    letter-spacing: 1em;
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-image: linear-gradient(-45deg, red, blue, yellow);
  background-size: 500% 500%;
  animation: gradient 30s ease infinite;
}

header h1 {
  display: inline-block;
  text-shadow: 5px 5px 5px rgb(160, 216, 138);
  letter-spacing: 5px;
  margin-bottom: 50px;
  color: #fff;
}

header img {
  animation: anim-rotate 5s infinite alternate ease-in-out;
}

main {
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
}

.button {
  display: flex;
  background: white;
  border: solid 4px black;
  color: black;
  height: 250px;
  width: 300px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px;
  text-decoration: none;
  font-size: 24px;
  border-radius: 8px;
  transition: ease-in-out 1s;
  box-sizing: border-box;
}

.button:hover {
  background: black;
  color: white;
  border: solid 4px white;
  transform: rotate(15deg) scale(1.2) translate(20px, 0);
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: white;
  padding-bottom: 5px;
}

#footer-text {
  margin-left: 10px;
}

footer hr {
  margin-top: 0px;
}

h1 {
  color: rgb(36, 36, 36);
}

.text-drop {
  animation: text-drop 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@media screen and (max-width: 768px) {
  header {
    display: flex;
  }

  header h1 {
    font-size: 1.5em;
    align-self: flex-end;
    justify-content: center;
  }
  .button {
    transform: scale(0.8);
    margin: auto;
  }
  .button:hover {
    transform: rotate(15deg) scale(0.9) translate(20px, 0);
  }
}

@media screen and (max-width: 652px) {

  .button {
    height: 200px;
    width: 250px;
  }
  .button:hover {
    transform: rotate(15deg) scale(0.8) translate(20px, 0);
  }
}

@media screen and (max-width: 552px) {
  .button {
    height: 175px;
    width: 225px;
  }
  .button:hover {
    transform: rotate(15deg) scale(0.8) translate(20px, 0);
  }
}

@media screen and (max-width: 502px) {
  .button {
    height: 155px;
    width: 205px;
  }
  .button:hover {
    transform: rotate(15deg) scale(0.8) translate(20px, 0);
  }
}

@media screen and (max-width: 480px) {
  header h1 {
    display: none;
  }
  header {
    align-self: center;
    justify-content: center;
  }
  .button {
    width: 40vw;
    height: 25vh;
    margin: auto;
    font-size:5vw;
  }
  .button:hover {
    transform: rotate(15deg) scale(1.1) translate(20px, 0);
  }
}
