#grid-detail {
  display: grid;
  grid-template-areas:
    "header header"
    "nav nav"
    "main aside"
    "footer footer";
  grid-template-columns: 80% 20%;
}

#grid-buchung {
  display: grid;
  grid-template-areas:
    "header header"
    "nav nav"
    "main aside"
    "footer footer";
  grid-template-columns: 80% 20%;
}

header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}
aside {
  grid-area: aside;
}

@media screen and (max-width: 768px) {
  nav {
    font-size: 0.85em;
  }

  #grid-detail {
    display: grid;
    grid-template-areas:
      "header "
      "nav"
      "main"
      "aside"
      "footer";
    grid-template-columns: 100%;
  }

  #grid-buchung {
    display: grid;
    grid-template-areas:
      "header "
      "nav"
      "main"
      "aside"
      "footer";
    grid-template-columns: 100%;
  }
  aside {
    margin-left: 15px;
  }
}

@media screen and (max-width: 480px) {

  #grid-detail {
    display: grid;
    grid-template-areas:
      "header "
      "nav"
      "main"
      "aside"
      "footer";
    grid-template-columns: 100%;
  }

  .tblock {
    display: grid;
    grid-template-areas:
      "block1"
      "block2"
      "bild";
    grid-template-columns: 100%;
  }

  article#details {
    grid-area: block1;
  }
  article#buchung {
    grid-area: block2;
  }

  .tblock img{
    float:none;
    grid-area:bild;
    max-width: 90%;
  }


}
